#image{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#image{
  position: absolute;
  top:0;
  bottom:0;'
  margin:auto;
  min-width: 50%;
  min-height: 50%;
}
#image{
  border:
}
.landing{
  background-image: url("image/landing.jpg");
  min-width:50%;
  min-height: 50%;

}
