.media{
padding: 0;
height: 850px;
width:100%;
background-image: url(../image/landing.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 70px;
}
.media2{
padding: 0;
height: 600px;
width:100%;
background-image: url(../image/foodsBg.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.media3{
padding: 0;
height: 300px;
width:100%;
background-image: url(../image/subscribe.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




.header{
margin-top: 3%;
text-align: center;
font-family:monospace, Open Sans;
color: white;
font-size: 30px;
}
.logo{
margin-top: 4%;
text-align: center;
}
.men{
margin-top: 20px;
margin-left: 20px;
background-color: transparent;
height: 50px;
width: 75px;
}
.bg-1{
padding: 0;
}
.bg-10{
padding: 0;
}
.bg-00{
background-color:#F15A29;
}
