.media{
padding: 0;
height: 450px;
width:100%;
background-image: url(../image/landing.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 70px;
}
.media2{
padding: 0;
height: 600px;
width:100%;
background-image: url(../image/foodsBg.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.media3{
padding: 0;
height: 300px;
width:100%;
background-image: url(../image/subscribe.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




.header{
margin-top: 3%;
text-align: center;
font-family:monospace, Open Sans;
color: white;
font-size: 30px;
}
.logo{
margin-top: 4%;
text-align: center;
}
.men{
margin-top: 20px;
margin-left: 20px;
background-color: transparent;
height: 50px;
width: 75px;
}
.bg-1{
padding: 10;
}
.bg-10{
padding: 10;
}
.bg-00{
background-color:#F15A29;
}.happy{
height: 119px;
width:300px;
}

.overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.bg-1:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.bg-1:hover .text {
color: #000000;
}

.text {
color: white;
font-size: 40px;
font-family: 'Handlee', Open Sans;
padding: 16px 32px;
white-space: nowrap;
position: absolute;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
.textt {
text-align: center;
margin-top: 2%;
color: #ffffff;
}
#text1{
padding: 5%;
text-align: left;
}
#text2{
padding: 5%;
text-align: right;
}
#text3{
padding: 5%;
text-align: center;
color: black;
}

.fasts{
margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cust{
width: 80%;
margin-top: 10%;
margin-bottom: 10%;
margin-left: 10%;
margin-right: 10%;
border-color: solid;
color: white;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.party{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
}
.whitebox{
  padding: 10;
  text-align: center;
  display: block;
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-color: solid;
  color: white;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  width: 80%;
  height: 40%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#burger{
	text-align: center;
	padding: 50px;
}
